#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water-1 {
    grid-area: 1 / 4 / 6 / 5;
  }
  
  #water-2 {
  
    grid-area: 2 / 7 / 5 / 3;
}

#carrot-1, #carrot-2, #carrot-3 {
  grid-area: 5 / 1 / 5 / 4;
}

  